html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 300;
    src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}

.content{
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 310px;
}

#numeros-pantalla{
    font-family: "SF Pro Text";
    font-size: 60px;
    color: white;
    text-align: end;
    padding-right: 25px;
}

.screen-numbers{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    white-space: nowrap;
}

.buttons {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    align-items: center;
    padding: 10px 10px;
}

.boton{
    border: none; 
    box-shadow: none;
    outline: none;
    font-family: "SF Pro Text";
    font-size: 27px;
    height: 60px;
    width: 60px;
    margin: 5px 2px 5px 15px;
    border-radius: 100%;
}

.boton:active {
    background-color: #737373;
    animation: clickAnimation 3s forwards;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1); /* Estado inicial: sin cambio */
    }
    50% {
        transform: scale(1); /* Estado intermedio: se agranda un poco */
        background-color: #737373; /* Cambia el color temporalmente */
    }
    100% {
        transform: scale(1); /* Vuelve al tamaño original */
        background-color: #333333; /* Vuelve al color original */
    }
}

.boton-otros{
    border: none; 
    box-shadow: none;
    outline: none;
    font-family: "SF Pro Text";
    font-size: 27px;
    height: 60px;
    width: 60px;
    margin: 5px 2px 5px 15px;
    border-radius: 100%;
}

.boton-otros:active {
    background-color: #d9d9d9;
}

.boton-op{
    border: none; 
    box-shadow: none;
    outline: none;
    font-family: "SF Pro Text";
    font-size: 27px;
    height: 60px;
    width: 60px;
    margin: 5px 3px 5px 8px;
    border-radius: 100%;
    font-weight: bold;
    position: relative;
}

.boton-op.active{
    background-color: white;
    color: #ff9f0a;
    font: bold;
    animation: selectAnimation 3s forwards;
}

@keyframes selectAnimation {
    0% {
        transform: scale(1); /* Estado inicial: sin cambio */
    }
    50% {
        transform: scale(1); /* Estado intermedio: se agranda un poco */
        background-color: white; /* Cambia el color temporalmente */
        color: #ff9f0a;
    }
    100% {
        transform: scale(1); /* Vuelve al tamaño original */
        background-color: #ff9f0a; /* Vuelve al color original */
        color: white;
    }
}

.boton-cero{
    border: none; 
    box-shadow: none;
    outline: none;
    font-family: "SF Pro Text";
    font-size: 27px;
    height: 60px;
    width: 140px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 50px;
    text-align: left;
}

.boton-cero:active {
    background-color: #737373;
}

.bg-gray{
    background-color: #a5a5a5;
    color: #040404;
}

.bg-orange{
    background-color: #ff9f0a;
    color: white;
}

.bg-blacky{
    background-color: #333333;
    color: white;
}


